<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to my portfolio! I enjoy all things GIS. This portfolio features my professional work and experiences.">
    <title>Bastian d'Argent | Portfolio</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <!--- Navigation Bar --->
<body>